__pycache__/


services/scripts/geki/.idea/**
services/scripts/geki/.idea/workspace.xml

.idea
.idea/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
