[Unit]
Description=Geki Game
After=multi-user.target
 
[Service]
Type=idle
ExecStart=/usr/bin/python3 /var/srvcs/services/scripts/geki/start.py
Restart=on-failure

 
[Install]
WantedBy=multi-user.target