[Unit]
Description=Geki Game (For debug purposes just set hello.py and test it manually!)
After=multi-user.target
 
[Service]
Type=idle
ExecStart=/usr/bin/python3 /var/srvcs/services/scripts/geki/ironman.py
Restart=on-failure

 
[Install]
WantedBy=multi-user.target