[Unit]
Description=Hello World
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /var/srvcs/services/scripts/hello_world.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target