[Unit]
Description=IronMan
After=multi-user.target
 
[Service]
Type=idle
ExecStart=/usr/bin/python3 /var/srvcs/services/scripts/ironman.py
Restart=on-failure

 
[Install]
WantedBy=multi-user.target